# Object files
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

crawler/crawler
crawler/bin/*
crawler/documents/
crawler/.vscode
crawler/logs/
crawler/doc/
crawler/experiments/

indexer/bin/
indexer/indexer
indexer/search
indexer/data/
